langchain
langchain-community
langchain-openai
langchain-text-splitters
langchain-huggingface
langchain-chroma
python-dotenv
ipykernel
pypdf
pymupdf
arxiv
wikipedia
beautifulsoup4
sentence-transformers
faiss-cpu
chromadb
streamlit
streamlit-autorefresh
requests
